@import "https://fonts.googleapis.com/css2?family=Tajawal&display=swap";

$mainColor: #106b5e;
@font-face {
  font-family: myFont;
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
}

input,
select,
textarea,
button {
  &:focus {
    outline: 0 !important;
  }
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

.clear {
  clear: both;
}

.fixed-navbar {
  background-color: #106c5f !important;
  transition: all 1s ease-in-out !important;
}

// start navbar
.uppernav {
  .navbar {
    padding: 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    .navbar-brand {
      img {
        width: 90px;
      }
    }
    .navbar-nav {
      margin-right: 45px;
      .nav-item {
        .nav-link {
          color: #fff;
          margin-left: 20px;
        }
      }
    }
  }
  .btn {
    background-color: #09483f;
    border-radius: 15px;
    margin-right: 30px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

// start header
.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 600px;
  .content {
    width: 50%;
    // position: absolute;
    // right: 10%;
    // top: 30%;
    padding-top: 180px;
    h5 {
      color: #1abcdf;
      font-size: 30px;
      font-weight: bold;
    }
    p {
      color: #fff;
      font-size: 15px;
      margin-top: 20px;
      line-height: 30px;
    }
    .btn {
      background-color: #1abcdf;
      border-radius: 15px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

// start avenges
.avenges {
  margin-top: 90px;
  .row {
    margin: 0 !important;
    .col-lg-5 {
      padding: 0 !important;
    }
  }
  .adv-header {
    @extend %sectionHeader;
    &::after {
      @extend %afterSectionHeader;
    }
  }
  .adv-content {
    padding-right: 100px;
    .adv-content-img {
      margin-top: 20px;
      .content-img {
        float: right;
        width: 15%;
        box-sizing: border-box;
      }
      .content-content {
        margin-right: 30px;
        float: right;
        width: 75%;
        box-sizing: border-box;
        margin-top: 10px;
        h6 {
          font-size: 25px;
          color: $mainColor;
        }
      }
    }
    .adv2 {
      .content-content {
        h6 {
          color: #1abcdf;
        }
      }
    }
  }
}

// startabout
.about {
  margin-top: 90px;
  .about-header {
    h5 {
      @extend %sectionHeader;
      margin-bottom: 20px !important;
      &::after {
        @extend %afterSectionHeader;
      }
    }
  }
  .about-content {
    margin-top: 15px;
    p {
      font-weight: 600;
    }
    .btn {
      background-color: $mainColor;
      border-radius: 15px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .about-img {
    img {
      width: 100%;
      margin-top: -80px;
    }
  }
}

// start how-it-work
.how-it-work {
  .how-content-header {
    margin-top: 100px;
    margin-bottom: 70px;
    h5 {
      @extend %sectionHeader;
      margin-bottom: 0 !important;
    }
    p {
      position: relative;
      color: #c3c3c3;
      &::after {
        @extend %afterSectionHeader;
      }
    }
  }

  .how-it-img {
    margin-top: 90px;
  }

  .how-it-content {
    & > div {
      float: right;
    }
    .how-png-img {
      margin-top: 20px;
      border: 1px solid #eaeaea;
      border-radius: 50%;
      // padding: 10px;
      width: 90px;
      height: 90px;
      text-align: center;
      line-height: 90px;
      position: relative;
      .number {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #1abcdf;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        right: -13px;
        top: 25px;
      }
      img {
        width: 45%;
      }
    }
    .how-par-cont {
      margin-top: 30px;
      margin-right: 20px;
      h5 {
        color: $mainColor;
        font-weight: bold;
        font-size: 25px;
      }
    }
  }
}

// start show
.show-application {
  margin-top: 70px;
  .show-header {
    text-align: center;
    h5 {
      @extend %sectionHeader;
      margin-bottom: 0 !important;
    }
    p {
      color: #c3c3c3;
    }
  }
  .app-slider {
    margin-top: 40px;
    img {
      margin: auto;
      cursor: zoom-in;
    }
    .slick-slide {
      &:focus {
        outline: 0 !important;
      }
      img {
        width: 240px;
      }
    }
    .slick-prev {
      z-index: 99;
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f053" !important;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #1abcdf;
        border-radius: 50%;
        font-size: 14px;
      }
    }
    .slick-next {
      z-index: 99;
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054" !important;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #1abcdf;
        border-radius: 50%;
        font-size: 14px;
      }
    }
  }
}

// start download
.download {
  text-align: center;
  margin-top: 90px;
  padding-bottom: 40px;
  .down-btn {
    p {
      font-size: 30px;
      max-width: 50%;
      margin: auto;
      font-weight: bold;
      margin-bottom: 20px;
    }
    a {
      img {
        width: 150px;
        margin-top: 10px;
      }
    }
  }
}


@media(min-width: 2560px){
  .avenges{
    .adv-img{
      img{
        float: left;
        margin-left: -206px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .uppernav {
    .navbar {
      .navbar-nav {
        margin-right: 2px;
        .nav-item{
          .nav-link{
            font-size: 15px;
          }
        }
      }
    }
  }
  .header {
    background-position: right;
  }
}

@media (max-width: 800px) {
  .uppernav {
    .navbar {
      .navbar-toggler {
        background-color: $mainColor;
        border: 1px solid $mainColor;
        border-radius: 5px;
      }
      .navbar-collapse {
        background-color: $mainColor;
        z-index: 99 !important;
        text-align: center;
        padding-bottom: 10px;
        .btn {
          width: 90%;
          margin-right: 0;
        }
      }
      .navbar-nav {
        text-align: right;
        margin-right: 19px;
        .nav-item {
          .nav-link {
            width: 100%;
          }
        }
      }
    }
  }
  .header {
    background-position: right;
    .content {
      position: inherit;
      padding-top: 138px;
    }
  }
  .avenges {
    .adv-img {
      img {
        width: 100%;
      }
    }
    .adv-content {
      padding-right: 0;
      margin-top: 30px;
      .adv-content-img {
        .content-img {
          img {
            width: 80px;
          }
        }
        .content-content {
          margin-top: 5px;
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
  .about {
    .about-img {
      img {
        width: 56%;
        margin-top: 9px;
      }
    }
  }
}

@media (max-width: 524px) {
  .header {
    background-position: right;
    .content {
      width: 100%;
    }
  }
  .how-it-work {
    .how-it-img {
      img {
        width: 100%;
      }
    }
    .how-par-cont {
      margin-top: 10px !important;
    }
  }
  .app-slider {
    .slick-next {
      right: 10px !important;
    }
    .slick-prev {
      left: 10px !important;
    }
  }
  .download {
    .down-btn {
      p {
        max-width: 100% !important;
      }
    }
  }
  .adv-content {
    padding-right: 0;
    margin-top: 30px;
    .adv-content-img {
      .content-img {
        img {
          width: 68px !important;
        }
      }
    }
  }
}

%sectionHeader {
  color: $mainColor;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-bottom: 80px;
}

%afterSectionHeader {
  position: absolute;
  content: "";
  bottom: -10px;
  right: 0;
  width: 30px;
  height: 4px;
  background-color: #1abcdf;
}
