@import "https://fonts.googleapis.com/css2?family=Tajawal&display=swap";

$mainColor: #106b5e;
@font-face {
  font-family: myFont;
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
}

input,
select,
textarea,
button {
  &:focus {
    outline: 0 !important;
  }
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

.clear {
  clear: both;
}

.fixed-navbar {
  background-color: #106c5f !important;
  transition: all 1s ease-in-out !important;
}

// start navbar
.uppernav {
  .navbar {
    padding: 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    .navbar-brand {
      img {
        width: 90px;
      }
    }
    .navbar-nav {
      margin-right: 45px;
      .nav-item {
        .nav-link {
          color: #fff;
          margin-left: 20px;
        }
      }
      .active {
        .nav-link {
          background-color: #1abcdf;
          border-radius: 6px;
        }
      }
    }
  }
  .btn {
    background-color: #09483f;
    border-radius: 15px;
    margin-right: 30px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.slider-item {
  &:focus {
    outline: 0 !important;
  }
}

// start header
.header-slider {
  .slider-item {
    background-size: cover;
    background-position: center;
    height: 660px;
    direction: rtl;
    .content {
      padding-top: 180px;
      h5 {
        color: #fff;
        font-size: 30px;
        font-weight: bold;
      }
      p {
        color: #fff;
        font-size: 15px;
        margin-top: 20px;
        line-height: 30px;
      }
      .btn {
        background-color: #1abcdf;
        border-radius: 6px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .header-img {
      padding-top: 90px;
      img {
        width: 100%;
        max-width: 452px;
        max-height: 496px;
      }
    }
  }
  .slick-prev {
    left: 86%;
    top: 85%;
    z-index: 99;
    &::before {
      @extend %initlizeFonAwesomeAfter;
      @extend %headerArrows;
      content: "\f053";
      font-size: 15px;
    }
  }
  .slick-next {
    right: 9%;
    top: 85%;
    bottom: 0;
    &::before {
      @extend %initlizeFonAwesomeAfter;
      @extend %headerArrows;
      content: "\f054";
      font-size: 15px;
    }
  }
}

.what {
  margin-top: 68px;
  .card-what {
    border: 1px solid #ddd;
    border-radius: 20px;
    img {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  .what-content {
    // margin-right: -70px;
    padding-left: 30px;
    padding-right: 30px;
  }
  h6 {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    padding-top: 71px;
    margin-bottom: 30px;
  }
  ul {
    li {
      position: relative;
      &::before {
        content: "-";
        position: absolute;
      }
      p {
        font-size: 16px;
        // margin-top: 33px;
        // margin-bottom: 30px;
        margin: 0;
        margin-right: 10px;
        margin-top: 5px;
      }
    }
  }
}

// start avenges
// .avenges {
//   margin-top: 90px;
//   .row {
//     margin: 0 !important;
//     .col-lg-5 {
//       padding: 0 !important;
//     }
//   }
//   .adv-header {
//     @extend %sectionHeader;
//     margin-bottom: 20px !important;
//     &::after {
//       @extend %afterSectionHeader;
//     }
//   }
//   .adv-par{
//     margin-bottom: 60px;
//   }
//   .adv-content {
//     padding-right: 100px;
//     .adv-content-img {
//       margin-top: 20px;
//       .content-img {
//         float: right;
//         width: 15%;
//         box-sizing: border-box;
//         border: 1px solid $mainColor;
//         width: 90px;
//         height: 90px;
//         text-align: center;
//         line-height: 90px;
//         border-radius: 50%;
//       }
//       .content-content {
//         margin-right: 30px;
//         float: right;
//         width: 75%;
//         box-sizing: border-box;
//         margin-top: 10px;
//         h6 {
//           font-size: 25px;
//           color: $mainColor;
//         }
//       }
//     }
//     .adv2 {
//       .content-img{
//         border: 1px solid #1abcdf;
//       }
//       .content-content {
//         h6 {
//           color: #1abcdf;
//         }
//       }
//     }
//   }
// }

// startabout
.about {
  margin-top: 90px;
  .about-header {
    h5 {
      // @extend %sectionHeader;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 20px !important;
    }
  }
  .about-content {
    margin-top: 15px;
    p {
      font-size: 16px;
    }
    ul {
      li {
        position: relative;
        padding-right: 10px;
        &::before {
          content: "-";
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .about-img {
    img {
      width: 100%;
      max-width: 445px;
      max-height: 488px;
      margin-top: -80px;
    }
  }
}

.app-prop {
  margin-top: 90px;
  background-size: cover;
  background-position: center;
  // padding-top: 44px;
  padding-bottom: 83px;
  text-align: center;
  padding: 200px;
  padding-top: 100px;
  h5 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
  p {
    color: #fff;
    line-height: 30px;
  }
}

.features {
  margin-top: -100px;
  .parent-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 80px;
    .slider-item {
      padding: 20px;
    }
    h5 {
      font-size: 30px;
      font-weight: bold;
      color: #8c4b9d;
    }
    p {
      font-size: 18px;
      margin: auto;
      margin-top: 50px;
      width: 85%;
      margin-bottom: 50px;
    }
    .card {
      text-align: center;
      border: 0;
      .card-img {
        width: 108px;
        height: 108px;
        border-radius: 50%;
        background-color: $mainColor;
        margin: auto;
        position: relative;
        i {
          margin: auto;
          position: absolute;
          color: #fff;
          font-size: 50px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .card-title {
        font-size: 20px;
        margin-top: 10px;
        color: #000;
      }
      .card-text {
        margin: 0;
        margin: auto;
        width: 100%;
        font-size: 16px;
      }
    }
  }
}

// start show
.show-application {
  margin-top: 70px;
  .show-header {
    text-align: center;
    h5 {
      @extend %sectionHeader;
      margin-bottom: 0 !important;
    }
    p {
      color: #c3c3c3;
    }
  }
  .app-slider {
    margin-top: 40px;
    img {
      margin: auto;
      cursor: zoom-in;
    }
    .slick-slide {
      &:focus {
        outline: 0 !important;
      }
      img {
        width: 240px;
      }
    }
    .slick-prev {
      z-index: 99;
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f053" !important;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #1abcdf;
        border-radius: 50%;
        font-size: 14px;
      }
    }
    .slick-next {
      z-index: 99;
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054" !important;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #1abcdf;
        border-radius: 50%;
        font-size: 14px;
      }
    }
  }
}

.live-show{
  background-image: url('../images/live-bg.png');
  height: 430px;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 90px;
  padding-top: 68px;
  position: relative;
  &::after{
    content: "";
    background-color: rgb(38, 20, 6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  h5{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
  }
}

.download{
  text-align: center;
  position: relative;
  z-index: 3;
  .live-img{
    height: 583px;
    margin-top: -230px;
  }
  .down{
    font-size: 25px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: bold;
    width: 40%;
  }
  a{
    text-decoration: none;
    img{
      height: 75px;
    }
  }
}

// start download
.download {
  text-align: center;
  margin-top: 90px;
  padding-bottom: 40px;
  .down-btn {
    p {
      font-size: 30px;
      max-width: 50%;
      margin: auto;
      font-weight: bold;
      margin-bottom: 20px;
    }
    a {
      img {
        width: 150px;
        margin-top: 10px;
      }
    }
  }
}

footer{
  background-color: $mainColor;
  background-size: cover;
  background-position: center;
  margin-top: 75px;
  text-align: center;
  padding-top: 75px;
  .footer-navbar{
    color: #fff;
    margin-top: 26px;
    .nav-link{
      color: #fff !important;
      margin: 10px;
    }
    .active{
      .nav-link{
        background-color: #F6DA63;
        border-radius: 20px;
        color: #000 !important;
      }
    }
  }
}


@media (min-width: 2560px) {
  .avenges {
    .adv-img {
      img {
        float: left;
        margin-left: -206px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .uppernav {
    .navbar {
      .navbar-nav {
        margin-right: 2px;
        .nav-item {
          .nav-link {
            font-size: 15px;
          }
        }
      }
    }
  }
  .header {
    background-position: right;
  }
}

@media (max-width: 800px) {
  .uppernav {
    .navbar {
      background-color: $mainColor;
      .navbar-toggler {
        background-color: #1abcdf;
        border: 1px solid $mainColor;
        border-radius: 5px;
      }
      .navbar-collapse {
        background-color: $mainColor;
        z-index: 99 !important;
        text-align: center;
        .btn {
          width: 90%;
          margin-right: 0;
        }
      }
      .navbar-nav {
        text-align: center;
        margin-right: 19px;
        margin-top: 20px;
        .nav-item {
          margin-bottom: 10px;
          .nav-link {
            width: 100%;
          }
        }
      }
    }
  }
  .header-slider {
    background-position: right;
    .header-img {
      display: none;
    }
  }
  .header-slider .slick-prev {
    left: 79%;
  }
  .what {
    img {
      display: none;
    }
    .what-content {
      margin: 0;
      padding: 20px;
    }
  }
  // .avenges {
  //   .adv-img {
  //     img {
  //       width: 100%;
  //     }
  //   }
  //   .adv-content {
  //     padding-right: 0;
  //     margin-top: 30px;
  //     .adv-content-img {
  //       .content-img {
  //         img {
  //           // width: 80px;
  //         }
  //       }
  //       .content-content {
  //         margin-top: 5px;
  //         p {
  //           font-size: 13px;
  //         }
  //       }
  //     }
  //   }
  // }
  .about {
    .about-img {
      img {
        width: 56%;
        margin-top: 9px;
      }
    }
  }
  footer{
    padding-bottom: 20px;
  }
  .footer-navbar{
    display: none;
  }
  .app-prop{
    padding: 0;
    padding: 30px;
  }
  .features{
    margin-top: 0px;
    .card{
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 524px) {
  .uppernav .navbar {
    padding: 10px !important;
  }
  .header-slider {
    .slider-item {
      background-position: right;
      height: 700px;
    }
  }
  .header-slider .slick-prev {
    left: 70%;
    top: 90%;
  }
  .header-slider .slick-next {
    top: 90%;
  }
  .how-it-work {
    .how-it-img {
      img {
        width: 100%;
      }
    }
    .how-par-cont {
      margin-top: 10px !important;
    }
  }
  .app-slider {
    .slick-next {
      right: 10px !important;
    }
    .slick-prev {
      left: 10px !important;
    }
  }
  .download {
    .down-btn {
      p {
        max-width: 100% !important;
      }
    }
  }
  .adv-content {
    padding-right: 0;
    margin-top: 30px;
    .adv-content-img {
      .content-img {
        img {
          // width: 68px !important;
        }
      }
    }
  }
  .download .down{
    width: 100%;
  }
}

%sectionHeader {
  color: $mainColor;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-bottom: 80px;
}

%afterSectionHeader {
  position: absolute;
  content: "";
  bottom: -10px;
  right: 0;
  width: 30px;
  height: 4px;
  background-color: #1abcdf;
}

%initlizeFonAwesomeAfter {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%headerArrows {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  color: $mainColor;
}
